*{
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
    outline: none;
}
body {
    font-family: 'Poppins', sans-serif;
    background-color: #18181B;
    color: #ccc;
}
img {
   width: 100%;
   display: flex; 
}
a {
    text-decoration: none;
}
nav {
    max-width: 1200px;
    margin: auto;
    padding: 2rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    transition: all 0.3s ease;
}
.logo {
    max-width: 100px;
}
.links a {
    color: white;
    padding-bottom: 0.75rem;
    text-decoration: none;
    position: relative
}
.links a::after {
    content: '';
    position: absolute;
    background-color: orange;
    width: 0%;
    height: 2px;
    left: 0;
    bottom: 5px;
    translate: 0% -10%;
}
.links a:hover::after {
    width: 100%;
    transition: all 0.3s ease;
}
.links {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 3rem;
}
.btn {
    background-color: orange;
    padding: 1rem 2rem;
    border-radius: 5px;
    cursor: pointer;
    color: #ccc;
    font-size: 1rem;
}

.container {
    max-width: 1200px;
    padding: 5rem 2rem;
    margin: auto;
}


.blur{
    position: absolute;
    box-shadow: 0 0 1000px 50px orange;
    z-index: -100;
}

.content {
    padding: 0rem 2rem;

}
.content a:hover {
    color: orange;
}

.content h1 {
    padding-bottom: 1rem;
    font-size: 2.5rem;
}

.content h4 {
    padding-bottom: 1rem;
    font-size: 1.5rem;
}
.content h1 span {
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px rgb(246, 206, 132);
}
.content a{
    text-decoration: none;
    color: #ccc;
}
.container h2 {
    text-align: center;
    font-size: 2.5rem;
    padding-bottom: 2rem;
}
.content1  {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    
}
.card {
    border: 1px solid white;
    padding: 1rem 1rem;
    border-radius: 10px;
    cursor: pointer;
    position: relative;
}
.card ul {
    list-style: none;
}
.card h4 {
    padding-bottom: 1rem;
    
}
.card span{
    display: flex;
    gap: 1rem;
    font-size: 1.5rem;
}
.container h2 {
    position: relative; 
}
.card:hover {
    box-shadow: 0px 0px 5px #ffb26f;
}

.content2 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}
.content2 h4 {
    text-align: center;
    font-size: 1.7rem;
    font-size: 2rem;
}
.content2 .card ul li {
    font-size: 1.5rem;
    padding-left: 0.75rem;
}
.content2 .card p {
    font-size: 1.5rem;
    text-align: center;
}
.content2 .btn {
    margin-top: 1rem;
    display: flex;
    color: #ccc;
}
.card button.btn {
  position: relative;
  top: 7%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'Poppins';
  font-size: 1.1rem;
}

.btn:hover {
    box-shadow: 0px 0px 4px 1px white;
    transition: all 0.2s ease-in;
}


footer{
    position: relative;
    display: grid;
    grid-template-columns: 400px repeat(3, 1fr);
    gap: 2rem;
}

footer .column .logo{
    max-width: 100px;
    margin-bottom: 2rem;
}

footer .column p{
    color: #ccc;
    margin-bottom: 2rem;
}

footer .column .socials{
    display: flex;
    align-items: center;
    gap: 1rem;
}

footer .column .socials a{
    color: #ccc;
    border: 1px solid #ccc;
    padding: 5px 10px;
    font-size: 1.25rem;
    border-radius: 100%;
    transition: all 0.3s ease;
}

footer .column .socials a:hover{
    color: #fff;
    background-color: #1d4ed8;
    border-color: #1d4ed8;
}

footer .column h4{
    color: #fff;
    margin-bottom: 2rem;
    font-size: 1.2rem;
    font-weight: 500;
}

footer .column > a{
    display: block;
    color: #ccc;
    margin-bottom: 1rem;
    transition: all 0.3s ease;
}

footer .column > a:hover{
    color: #1d4ed8;
}

.copyright{
    max-width: 1200px;
    margin: auto;
    padding: 1rem;
    color: #fff;
    font-size: 0.8rem;
    text-align: center;
}







@media (width < 900px){
    .links{
        display: none;
    }
    header{
        grid-template-columns: repeat(1, 1fr);
    }
    
    .content1, .content2{
        grid-template-columns: repeat(2, 1fr);
    }
    footer{
        grid-template-columns: 1fr 200px;
    }
    
}

@media (width < 600px){
    footer{
        grid-template-columns: 1fr 150px;
    }

    

    .content1, .content2{
        grid-template-columns: repeat(1, 1fr);
    }

}